:host {
  border-bottom: 1px solid lightgray;
  padding: 7px;
  min-width: 360px;
  width: auto;
  display: block;

  .album-input {
    display: flex;
    flex-wrap: wrap;

    input {
      padding: 4px;
      flex: 1;
    }

    button {
      padding: 6px 4px;
      background-color: lightgrey;
      margin-left: -1px;
    }
  }
  label {
    display: inline-block;
    margin: 7px;
    font-size: 12px;
    font-style: italic;
  }
}